
div.accordion-items {
	border-radius: var(--step2);
	overflow: hidden;
}
div.accordion-items h2 {
	font-size: var(--font-default);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--color-100);
	background: var(--color-05);
	padding: var(--step4) var(--step2);
	position: relative;
	cursor: pointer;
}

div.accordion-items>section h2 {
	margin: 0 0 var(--stepHalf) 0;
}
div.accordion-items>section:last-child h2 {
	margin-bottom: 0;
}

div.accordion-items>section h2:after {
	content: '\f055';
	font-family: 'FontAwesome';
	font-size: var(--step4);
	color: var(--color-95);
	position: absolute;
	top: 50%;
	right: var(--step4);
	transform: translate(0,-50%);
}

div.accordion-items>section.active h2:after {
	content: '\f056';
}

div.accordion-items div.text {
	font-size: var(--font-medium);
	color: var(--color-05);
	background: var(--color-95);
	padding: var(--step4) var(--step2);
	display: none;
}

div.accordion-items>section.active div.text {
	display: block;
}