div.accordion-items {
	border-radius: var(--s2);
	overflow: hidden;
}

div.accordion-items h2 {
	font-size: var(--font-default);
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--color-100);
	background: var(--color-primary);
	padding: var(--s4) var(--s2);
	position: relative;
	cursor: pointer;
}

div.accordion-items>section h2 {
	margin: 0 0 var(--s-half) 0;
}

div.accordion-items>section:last-child h2 {
	margin-bottom: 0;
}

div.accordion-items>section h2:after {
	content: '\F4F9';
	font-family: 'bootstrap-icons';
	font-size: var(--font-large);
	color: var(--color-95);
	position: absolute;
	top: 50%;
	right: var(--s4);
	transform: translate(0, -50%);
}

div.accordion-items>section.active h2:after {
	content: '\F2E5';
}

div.accordion-items div.text {
	font-size: var(--font-medium);
	color: var(--color-primary);
	background: var(--color-95);
	padding: var(--s4) var(--s2);
	display: none;
}

div.accordion-items>section.active div.text {
	display: block;
}