.list-search {
	position: relative;
}

.list-search::after {
	content: '\f002';
	font-size: var(--font-default);
	font-family: 'FontAwesome';
	color: #b8b8b8;
	position: absolute;
	z-index: 20;
	top: 50%;
	transform: translate(0, -50%);
	right: var(--s2);
	line-height: 100%;
}

.lists-items .title {
	font-weight: 600;
	margin: var(--s4) 0 0 0;
}

.lists-items .descr {
	font-weight: 300;
	color: var(--color-50);
	padding: var(--s) 0 var(--s) 0px;
}

.lists-items .container {
	border-top: 1px solid var(--color-85);
	padding: var(--s) 0 var(--s) 0px;
}

.lists-items .container:hover {
	background: var(--color-100);
}

.lists-items .container-descr {
	font-weight: 300;
	color: var(--color-50);
}

.controls-area {
	border-top: 1px solid var(--color-85);
	padding-top: var(--s3);
	padding-bottom: var(--s3);
}

.controls-area label {
	opacity: 0.6;
}

.controls-area a {
	margin-bottom: var(--s-half);
}

.controls-area a.active {
	color: var(--color-focus);
	background: var(--color-100);
	border-color: var(--color-focus);
}

.controls-area a i.fa {
	padding-right: var(--s);
}

label.w_label.w_select.list-item-language {
	margin-left: auto;
}

.controls-area-form {
	display: block;
}

.lists-items-list {
	overflow-x: auto;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lists-items-list>table {
	background: var(--color-95);
	width: 100%;
	border-collapse: collapse;
	border-style: hidden;
}

.lists-items-list>table td,
.lists-items-list>table th {
	border: var(--s-half) solid var(--color-85);
}

.lists-items-list>table>thead>tr.titles>th {
	background: var(--color-25);
}

.lists-items-list>table>thead>tr.titles>th>div {
	padding: var(--s);
}

.lists-items-list>table>thead>tr.titles>th {
	text-decoration: none;
	color: var(--color-100);

}

.lists-items-list>table>thead>tr.titles>td {
	min-width: 50px;
	max-width: 250px;
	padding: 0px 0px;
}

.lists-items-list>table>thead>tr.filters>th {
	text-align: right;
	background: var(--color-100);
}

.lists-items-list>table>thead>tr.filters>th a {
	font-size: var(--font-small);
	font-weight: normal;
	color: var(--color-20);
}

.lists-items-list>table>thead>tr.filters>th a.active {
	color: var(--color-focus);
}

.lists-items-list>table>thead>tr.filters>th .filter2 {
	font-weight: 300;
	font-size: var(--font-small);
	text-align: left;
}

.lists-items-list>table>thead>tr.filters>th .filter2 a {
	font-weight: 300;
	display: block;
	padding: var(--s-half);
}

.lists-items-list>table>thead>tr.filters>th .filter2 a:hover {
	text-decoration: none;
	color: var(--color-100);
	background: var(--color-25);

}

.lists-items-list>table td {
	min-width: 50px;
	max-width: 250px;
}

.lists-items-list>table>tbody>tr.data.hidden {
	opacity: 0.5;
}

.lists-items-list>table>tbody>tr>td {
	border-bottom: var(--border);
}

.lists-items-list>table>tbody>tr:hover>td {
	background: var(--color-100);
}

.lists-items-list>table>tbody>tr.data-last>td {
	border-bottom: none;
}

.lists-items-list>table>tbody>tr>td>div {
	width: 100%;
	overflow: hidden;
	padding: var(--s-half);
}

.lists-items-list>table>tbody>tr>td.int {
	min-width: 50px;
	max-width: 50px;
}