div.page.cart {
	margin-top: var(--step4);
	margin-bottom: var(--step4);
}

div.page.cart div.cart-total {
	position: sticky;
	top: 90px;
}

div.page.cart div.cart-total h2 {
	margin-bottom: var(--step2);
}

div.page.cart div.cart-total>div {
	margin-bottom: var(--step2);
	padding-bottom: var(--step2);
	border-bottom: var(--border);
}

div.page.cart div.cart-total>div div.title {
	font-weight: 600;
}

div.page.cart div.cart-total>div div.price {
	font-weight: 600;
	margin-left: auto;
}

div.page.cart div.content-block:not(:last-child) {
	margin-bottom: var(--step4);
}

div.page.cart div.cart-items.content-block {
	background: transparent;
	padding: 0;
}

div.page.cart div.cart-items>section {
	display: grid;
	grid-template-columns: auto auto 1fr 1fr 1fr 120px;
	grid-template-areas:
		"checkbox image title title quantity sum"
	;
	gap: var(--step4);
	padding: var(--step2);
	margin-bottom: var(--stepHalf);
	background-color: var(--color-100);
}

div.page.cart div.cart-items>section:last-child {
	margin-bottom: 0;
}

div.page.cart h1+label.pps.pps_checkbox input[type="checkbox"]+span::before {
	margin-right: var(--step4);
}

div.page.cart div.cart-items label.pps.pps_checkbox input[type="checkbox"]+span {
	padding: 0;
}

div.page.cart div.cart-items label.pps.pps_checkbox input[type="checkbox"]+span::before {
	margin-right: 0;
}

div.page.cart div.cart-checkbox {
	grid-area: checkbox;
}

div.page.cart div.cart-image {
	grid-area: image;
}

div.page.cart div.cart-image img {
	border-radius: var(--step2);
}

div.page.cart div.cart-title {
	grid-area: title;
}

div.page.cart div.cart-title a.title {
	font-weight: 600;
	text-decoration: none;
	color: var(--color-25);
	margin-bottom: var(--step);
	max-width: max-content;
	display: block;
}

div.page.cart div.cart-title a:not(:first-child) {
	font-size: var(--font-small);
	font-weight: normal;
	text-decoration: none;
	color: var(--color-50);
	max-width: max-content;
	display: block;
}

div.page.cart div.cart-title a.cart-remove.active {
	color: var(--color-attention)
}

div.page.cart div.cart-title a.cart-favorite.active {
	color: var(--color-success)
}

div.page.cart div.cart-quantity {
	grid-area: quantity;
}

div.page.cart .cart-price {
	font-size: var(--font-small);
	color: var(--color-50);	
	margin-top: var(--step);
}

div.page.cart .cart-price>span {
	display: flex;
	max-width: max-content;
	
}

div.page.cart .cart-price .price>span:after {
	margin-right: var(--step);
}

div.page.cart div.cart-sum {
	text-align: right;
	font-weight: 600;
	max-width: inherit;
	grid-area: sum;
}

div.page.cart div.cart-sum > div {
	margin-left: auto;
}

div.page.cart div.cart-sum .price.price-before {
	font-size: var(--font-small);
}

div.page.cart h1 {
	margin-bottom: var(--step2)
}

div.cart-region.content-block {
	overflow: inherit;
}

div.cart-region label.pps.pps_input {
	display: block;
}

@media screen and (max-width: 480px) {
	div.page.cart div.cart-items>section {
		grid-template-columns: auto repeat(3, 1fr);
		grid-template-areas:
			"checkbox image title title"
			". . quantity sum"
		;
	}	
}