div.page.profile {
    padding-bottom: var(--step4);
    padding-top: var(--step4);
}

div.profile-nav-mobile {
    margin-bottom: var(--step4);
}

div.profile-nav {
    margin-bottom: var(--step4);
}

div#pps-option-nav {
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    
}