/packages/vendor/*
/packages/composer.phar
/packages/composer.lock
/packages/WeppsAdmin/*/*/files*
/packages/WeppsAdmin/*/files*
/packages/WeppsAdmin/*/.htaccess
/packages/WeppsAdmin/Admin/Forms/uploads*
/packages/WeppsExtensions/Template/Forms/uploads*
/packages/WeppsExtensions/Addons/Bot/files/*
/files/tpl/*
/files/lists/*
/pic/*
/.htaccess
/config.php
/debug.conf
*.sql.gz
*.7z
*.7zip
/sitemap.xml
/robots.txt