/packages/vendor/*
/packages/WeppsAdmin/ConfigExtensions/Backup/files/*
/files/tpl/compile/*
/files/lists/*
/pic/*
/.htaccess
/config.php
/debug.conf
/sitemap.xml
/robots.txt

/.pps*.sh
*.sql.gz
*.7z

#eclipse
/.settings
/.project
/.buildpath