div.carousel-wrapper {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
div.carousel-wrapper button:focus,
div.carousel-wrapper input:focus {
    outline: 0;
}

div.carousel {
	width: auto;
}

div.carousel-mobile {
	display: none;
}

div.carousel div.item img {
	display: block;
	box-sizing: border-box;
}

div.carousel.slick-slider {
	margin: 0
}

div.carousel .slick-prev {
	left: var(--step4);
	z-index: 1;
	height: auto;
}

div.carousel .slick-next {
	right: var(--step4);
	z-index: 1;
	height: auto;
}

div.carousel .slick-prev:before {
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 50px;
	line-height: 50%;
}

div.carousel .slick-next:before {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 50px;
	line-height: 50%;
}

div.carousel .slick-dots {
	bottom: 5%;
}

div.carousel .slick-dots li button {
}

div.carousel .slick-dots li.slick-active {
}

div.carousel .slick-dots li button:before {
	color: var(--color-98);
	content: '';
	opacity: 0.5;
	background: var(--color-100);
	border-radius: 50%;
	top: var(--step);
	left: var(--step);
	width: var(--step2);
	height: var(--step2);
}

div.carousel .slick-dots li.slick-active button:before {
	opacity: 1;
    color: var(--color-100);
}

@media screen and (max-width: 480px) {
	div.carousel-desktop {
		display: none;
	}
	div.carousel-mobile {
		display: block;
	}
}
