section.paginator-wrapper {
	overflow: auto;
	margin-bottom: var(--s4);
}

section.paginator-wrapper>ul>li {
	border-radius: var(--s2);
	border: var(--border);
	overflow: hidden;
	width: var(--s6);
	height: var(--s6);
	display: inline-block;
}

section.paginator-wrapper>ul>li>a,
section.paginator-wrapper>ul>li>span {
	text-align: center;
	text-decoration: none;
	color: var(--color-05);
	margin: 0;
	cursor: pointer;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.paginator-wrapper>ul>li>span {
	cursor: default;
}

section.paginator-wrapper>ul>li:hover {
	border-color: var(--color-05);
}

section.paginator-wrapper>ul>li:hover a {
	text-decoration: none;
}

section.paginator-wrapper>ul>li.active {
	background: var(--color-button);
	border-color: var(--color-button);
}

section.paginator-wrapper>ul>li.active a {
	color: var(--color-98);
}