.w_panel {
	width: 100%;
	overflow: hidden;
	margin: 0 0px;
	position: relative;
}
.w_panel>.wrapper {
	max-width: 1360px;
	margin: 0 auto;
	overflow: hidden;
}
.w_panel.blockstest>.wrapper>.w_blocks>.w_block {
	min-height: 100px;
	text-align: center;
	background: red;
	position: relative;
}