section.test-wrapper.pps_flex {
	margin-bottom: var(--step4);
	width: auto;
}

section.test-wrapper>section {
	border-radius: var(--step2);
	overflow: hidden;
	position: relative;
}

section.test-wrapper>section:hover {
	box-shadow: var(--shadow);
}

section.test-wrapper a {
	text-decoration: none;
	color: var(--color-05);
	background: var(--color-95);
	height: 100%;
	display: block;
}

div.test-img {
	background: var(--color-100);
}

div.test-img img {
	width: 100%;
	height: auto;
	display: block;
}

div.test-text {
	background-color: var(--color-95);
	padding: var(--step2);
	height: 100%;
}

div.test-text>.title {
	font-weight: 600;
}

div.page.test-item {
	padding-top: var(--step6);
	position: relative;
}

div.page.test-item h1 {
	margin-top: var(--step2);
}

section.test-item-wrapper>div {
	background-color: var(--color-100);
	border-radius: var(--step2);
	position: relative;
	overflow: hidden;
}

div.test-item-img img {
	width: 100%;
	height: auto;
	display: block;
}

div.test-item-date {
	color: var(--color-50);
}