.contacts-wrapper div.title {
	font-weight: 700;
}

.contacts-wrapper .map {
	width: 100%;
	height: 400px;
	margin-top: var(--step4);
}

@media screen and (max-width: 768px) {
	div.elements.ContactsForm {
		width: 100%;
	}
}