div.page.home {
	background: var(--color-100);
}

div.page.home .text {
	column-count: 3;
	padding-bottom: var(--s4);
}

div.page.home .text p {
	margin-top: 0;
	margin-bottom: var(--s4);
}

div.page.home .text p:last-child {
	margin-bottom: 0;
}

div.page.services {
	color: var(--color-25);
}

section.services-wrapper {
	padding-top: var(--s5);
	padding-bottom: var(--s5);
}

section.services-wrapper section {
	background-color: var(--color-75);
	border-radius: var(--s2);
	overflow: hidden;
}

section.services-wrapper section:hover {
	box-shadow: var(--shadow);
}

section.services-wrapper .title {
	font-weight: 600;
	font-size: var(--font-medium);
	padding: var(--s4);
}

div.page.gallery {
	background: var(--color-95);
}

section.gallery-wrapper section {
	overflow: hidden;
	border-radius: var(--s2);
}

section.gallery-wrapper section:hover {
	box-shadow: var(--shadow);
}

div.page.advantages {
	padding-bottom: var(--s4);
}

section.advantages-wrapper section:not(:first-child) {
	margin-top: var(--s4);
}

section.advantages-wrapper section img {
	border-radius: var(--s2);
	display: block;
}

section.advantages-wrapper section:nth-child(even) .text {
	order: 1;
}

section.advantages-wrapper section:nth-child(even) .img {
	order: 2;
}

section.advantages-wrapper .title {
	font-size: var(--font-large);
	font-weight: 600;
	letter-spacing: 0.06em;
	line-height: 1.2;
	margin-bottom: var(--s2);
}

div.page.map {
	background: var(--color-95);
}

section#map {
	background: var(--color-95);
	margin: var(--s4) auto 0 auto;
	border-radius: var(--s2);
	overflow: hidden;
	width: 100%;
	height: 600px;
}

@media screen and (max-width: 810px) {
	div.page.home .text {
		column-count: 2;
	}
}

@media screen and (max-width: 480px) {
	div.page.home .text {
		column-count: 1;
	}

	section.advantages-wrapper section:nth-child(even) .text {
		order: 3;
	}

	section#map {
		height: 400px;
	}
}