.page.services {
	background: #955ab4;
}

.page.gallery {
	background: #5a9bb4;
}

.page.advantages {
	background: #b45a60;
}


.page.contacts {
	background: #5ab49e;
}

.page.contacts #map {
	width: 100%;
	height: 600px;
}