.page.panel-hero {
	background-color: var(--color-100);
	padding-top: var(--s4);
	padding-bottom: var(--s4);
	position: relative;
}

.block-hero {
	max-width: 800px;
	margin: 0 auto;
	min-height: 100px;
	background: var(--color-100);
	padding: var(--s2);
	position: relative;
	border-radius: var(--s2);
}

.block-hero h1 {
	margin-top: 0;
}

@media screen and (max-width: 480px) {}