div.elements.Alignment1 {
	width: auto;
	overflow: hidden;
	margin: 0 -10px;
}

div.elements.Alignment1 div.items {
	
}

div.elements.Alignment1 div.items div.item {
	
}

div.elements.Alignment1 div.items div.item div.img {
	
}

div.elements.Alignment1 div.items div.item div.descr {
	
}