div.elements.Alignment1 {
	width: auto;
	overflow: hidden;
}
div.pps_test {
	color: #fff;
	background-color: fuchsia;
	max-width: 100%;
}
div.pps_test2 {
	color: #fff;
	background-color: blueviolet;
	max-width: 100%;
}
div.test {
	color: #fff;
	background-color: tomato;
	height: 50px;
}
section.aligment1-wrapper div.text-13 {
	columns: 3;
	margin-bottom: var(--step2);
}
section.aligment1-wrapper div.text-13 p {
	margin-top: 0;
}
section.aligment1-wrapper div.text-13 p:not(:last-of-type) {
	margin-bottom: var(--step2);
}

@media screen and (max-width: 480px) {
	section.aligment1-wrapper div.text-13 {
		columns: 2;
	}	
}