section.legal-wrapper.w_flex {
	margin-bottom: var(--s4);
	width: auto;
}

section.legal-wrapper>section {
	margin-bottom: var(--s2);
	max-width: max-content;
	border-radius: var(--s2);
	overflow: hidden;
	position: relative;
}

section.legal-wrapper>section:hover {
	box-shadow: var(--shadow);
}

section.legal-wrapper a {
	font-size: var(--font-medium);
	text-decoration: none;
	color: var(--color-05);
	background: var(--color-95);
	height: 100%;
	display: block;
}

div.legal-text {
	background-color: var(--color-95);
	padding: var(--s2);
	height: 100%;
}

div.legal-text>.title {
	font-weight: 600;
}

div.page.legal-item {
	padding-top: var(--s6);
	position: relative;
}

div.page.legal-item h1 {
	margin-top: var(--s2);
}

section.legal-item-wrapper>div {
	background-color: var(--color-100);
	border-radius: var(--s2);
	position: relative;
	overflow: hidden;
}