.legal-modal {
    color: var(--color-05);
    background-color: var(--color-95);
    padding: var(--s4);
    max-width: calc(var(--s) * 60);
    border-radius: var(--s2);
    box-shadow: var(--shadow);
    position: fixed;
    bottom: var(--s4);
    left: var(--s4);
    z-index: 10;
}

.legal-modal .title {
    font-weight: 600;
    margin-bottom: var(--s2);
}

.legal-modal .text {
    font-size: var(--font-small);
    margin-bottom: var(--s3);
}

.legal-modal a.w_button {
    margin: 0 var(--s) var(--s) 0;
}

@media screen and (max-width: 480px) {
    .legal-modal {
        max-width: calc(100% - var(--s4) * 4);
        bottom: calc(var(--s) * 20);
        left: inherit;
    }
}