div.services-wrapper {
	border-radius: var(--step2);
	overflow: hidden;
}
section.services-wrapper {
	background: var(--color-95);
	margin-bottom: var(--step4);
}

section.services-wrapper>section {
	background-color: var(--color-100);
	border-radius: var(--step2);
	overflow: hidden;
}

section.services-wrapper a {
	font-size: var(--font-medium);
	text-decoration: none;
	color: var(--color-05);
}

div.services-title {
	padding: var(--step2);
}