
section.services-wrapper>section {
	background-color: var(--color-100);
	border-radius: var(--s2);
	overflow: hidden;
}

section.services-wrapper a {
	font-size: var(--font-medium);
	text-decoration: none;
	color: var(--color-05);
}

div.services-title {
	padding: var(--s2);
}

.services-text>.title {
	font-size: var(--font-medium);
	font-weight: 600;
	margin-bottom: var(--s4);
}

.services-text>.img {
	margin-bottom: var(--s2);
}