:root {
	--s: 6px;
	--s-half: 3px;
	--s2: 12px;
	--s3: 18px;
	--s4: 24px;
	--s5: 30px;
	--s6: 36px;
	--margin: 0;
	--width: 100%;
	--height: 100%;
	--font-default: 16px;
	--font-small: 14px;
	--font-tiny: 12px;
	--font-medium: 22px;
	--font-large: 28px;
	--font-extra: 50px;
	--border: 1px solid var(--color-85);
}

.w_flex * {
	box-sizing: border-box;
}

.w_flex_row {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.w_flex_row>.w_flex_11 {
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	max-width: 100%;
	--width: 100%;
}

.w_flex_row>.w_flex_12 {
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-width: 50%;
	--width: 49.999%;
}

.w_flex_row>.w_flex_13 {
	-webkit-flex: 1 1 33.333%;
	flex: 1 1 33.333%;
	max-width: 33.332%;
	--width: 33.332%;
}

.w_flex_row>.w_flex_14 {
	-webkit-flex: 1 1 25%;
	flex: 1 1 25%;
	max-width: 24.999%;
	--width: 24.999%;
}

.w_flex_row>.w_flex_15 {
	-webkit-flex: 1 1 20%;
	flex: 1 1 20%;
	max-width: 19.999%;
	--width: 19.999%;
}

.w_flex_row>.w_flex_16 {
	-webkit-flex: 1 1 16.667%;
	flex: 1 1 16.667%;
	max-width: 16.666%;
	--width: 16.666%;
}

.w_flex_row>.w_flex_23 {
	-webkit-flex: 1 1 66.667%;
	flex: 1 1 66.667%;
	max-width: 66.666%;
	--width: 66.666%;
}

.w_flex_row>.w_flex_25 {
	-webkit-flex: 1 1 40%;
	flex: 1 1 40%;
	max-width: 39.999%;
	--width: 39.999%;
}

.w_flex_row>.w_flex_34 {
	-webkit-flex: 1 1 75%;
	flex: 1 1 75%;
	max-width: 74.999%;
	--width: 74.999%;
}

.w_flex_row>.w_flex_35 {
	-webkit-flex: 1 1 60%;
	flex: 1 1 60%;
	max-width: 59.999%;
	--width: 59.999%;
}

.w_flex_row>.w_flex_45 {
	-webkit-flex: 1 1 80%;
	flex: 1 1 80%;
	max-width: 79.999%;
	--width: 79.999%;
}

.w_flex_row>.w_flex_56 {
	-webkit-flex: 1 1 83.3333%;
	flex: 1 1 83.3333%;
	max-width: 83.332%;
	--width: 83.332%;
}

.w_flex_col {
	width: 100%;
	position: relative;
	-webkit-flex-flow: column nowrap;
	-webkit-justify-content: space-between;
	-webkit-align-items: center;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
}

.w_flex_col>* {
	width: 100%;
}

.w_flex_col>.w_flex_11 {
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
	max-height: 100%;
	height: 100%;
	--height: 100%;
}

.w_flex_col>.w_flex_12 {
	-webkit-flex: 1 1 50%;
	flex: 1 1 50%;
	max-height: 50%;
	height: 50%;
	--height: 50%;
}

.w_flex_col>.w_flex_13 {
	-webkit-flex: 1 1 33.333%;
	flex: 1 1 33.333%;
	max-height: 33.333%;
	height: 33.333%;
	--height: 33.333%;
}

.w_flex_col>.w_flex_23 {
	-webkit-flex: 1 1 66.667%;
	flex: 1 1 66.667%;
	max-height: 66.667%;
	height: 66.667%;
	--height: 66.667%;
}

.w_flex_col>.w_flex_14 {
	-webkit-flex: 1 1 25%;
	flex: 1 1 25%;
	max-height: 25%;
	height: 25%;
	--height: 25%;
}

.w_flex_col>.w_flex_34 {
	-webkit-flex: 1 1 75%;
	flex: 1 1 75%;
	max-height: 75%;
	height: 75%;
	--height: 75%;
}

.w_flex_max {
	-webkit-flex: 1 1 auto;
	flex: 1 1 auto;
}

.w_flex_fix {
	width: auto;
	flex: inherit;
}

.w_flex_start {
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}

.w_flex_end {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.w_flex_center {
	-webkit-justify-content: center;
	-webkit-align-items: center;
	justify-content: center;
	align-items: center;
}

.w_flex_nowrap {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.w_flex_row_str {
	-webkit-align-items: stretch;
	align-items: stretch;
}

.w_flex_row_top {
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.w_flex_row_bottom {
	-webkit-align-items: flex-end;
	align-items: flex-end;
}

.w_flex_left {
	margin-right: auto;
}

.w_flex_right {
	margin-left: auto;
}

.w_order_1 {
	order: 1;
}

.w_order_2 {
	order: 2;
}

.w_order_3 {
	order: 3;
}

.w_order_4 {
	order: 4;
}

.w_order_5 {
	order: 5;
}

.w_order_6 {
	order: 6;
}

.w_block {
	display: block;
}

.w_inline_block {
	display: inline-block;
}

.w_flex {
	display: flex;
	box-sizing: border-box;
}

.w_inline_flex {
	display: inline-flex;
}

img.w_image {
	width: 100%;
	height: auto;
	display: block;
}

.w_hide {
	display: none;
}

.w_relative {
	position: relative;
}

.w_interval {
	width: 100%;
	height: var(--s3);
}

.w_interval_zero {
	width: 100%;
	height: 0;
}

.w_interval_tiny {
	width: 100%;
	height: var(--s-half);
}

.w_interval_small {
	width: 100%;
	height: var(--s);
}

.w_interval_medium {
	width: 100%;
	height: var(--s4);
}

.w_interval_large {
	width: 100%;
	height: var(--s5);
}

.w_margin {
	margin: var(--s3);
}

.w_margin_small {
	margin: var(--s)
}

.w_margin_small_medium {
	margin: var(--s4)
}

.w_margin_small_large {
	margin: var(--s5)
}

.w_padding {
	padding: var(--s3);
}

.w_padding_small {
	padding: var(--s)
}

.w_padding_medium {
	padding: var(--s4)
}

.w_padding_large {
	padding: var(--s5)
}

.w_empty {
	height: 0;
	max-height: 0;
	min-height: 0;
	border: none;
	margin: 0;
	padding: 0;
}

.w_height {
	height: 100%;
}

.w_left {
	text-align: left;
}

.w_right {
	text-align: right;
}

.w_center {
	text-align: center;
}

.w_radius {
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}

.w_shadow {
	box-shadow: 0 0 5px var(--color-75);
	border: 1px solid var(--color-85);
}

.w_shadow:hover {
	box-shadow: 0 0 0px var(--color-75);
}

.w_shadow_inset {
	box-shadow: inset 0 0 5px var(--color-75);
	border: 1px solid var(--color-85);
}

.w_shadow_inset:hover {
	box-shadow: inset 0 0 0px var(--color-75);
}

.w_border {
	border: 1px solid var(--color-85);
}

.w_rounded {
	border-radius: var(--s2);
	overflow: hidden;
}

.w_rounded_plain {
	border-radius: var(--s2);
}

.w_zoom_bg {
	background-size: 100% auto;
}

.w_zoom_bg:hover {
	background-size: 110% auto;
}

.w_zoom:hover {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.w_zoom_image img:hover {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.w_overflow {
	overflow: hidden;
}

.w_overflow_auto {
	overflow: auto;
}

.w_pointer:hover {
	cursor: pointer;
}

.w_animate,
.w_animate * {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.w_animate_none,
.w_animate_none * {
	-webkit-transition: all 0s ease;
	-moz-transition: all 0s ease;
	-o-transition: all 0s ease;
	-ms-transition: all 0s ease;
	transition: all 0s ease;
}

ul.w_list,
ol.w_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.w_nowrap {
	white-space: nowrap;
}

.w_wrap {
	word-wrap: break-word;
}

@media screen and (max-width: 810px) {
	.w_flex_row>.w_flex_11_view_medium {
		-webkit-flex: 1 1 100%;
		flex: 1 1 100%;
		max-width: 100%;
		--width: 100%;
	}

	.w_flex_row>.w_flex_12_view_medium {
		-webkit-flex: 1 1 50%;
		flex: 1 1 50%;
		max-width: 50%;
		--width: 49.999%;
	}

	.w_flex_row>.w_flex_13_view_medium {
		-webkit-flex: 1 1 33.333%;
		flex: 1 1 33.333%;
		max-width: 33.333%;
		--width: 33.332%;
	}

	.w_flex_row>.w_flex_14_view_medium {
		-webkit-flex: 1 1 25%;
		flex: 1 1 25%;
		max-width: 25%;
		--width: 24.999%;
	}

	.w_flex_row>.w_flex_15_view_medium {
		-webkit-flex: 1 1 20%;
		flex: 1 1 20%;
		max-width: 19.999%;
		--width: 19.999%;
	}

	.w_flex_row>.w_flex_16_view_medium {
		-webkit-flex: 1 1 16.667%;
		flex: 1 1 16.667%;
		max-width: 16.666%;
		--width: 16.666%;
	}

	.w_flex_row>.w_flex_23_view_medium {
		-webkit-flex: 1 1 66.667%;
		flex: 1 1 66.667%;
		max-width: 66.666%;
		--width: 66.666%;
	}

	.w_flex_row>.w_flex_25_view_medium {
		-webkit-flex: 1 1 40%;
		flex: 1 1 40%;
		max-width: 39.999%;
		--width: 39.999%;
	}

	.w_flex_row>.w_flex_34_view_medium {
		-webkit-flex: 1 1 75%;
		flex: 1 1 75%;
		max-width: 74.999%;
		--width: 74.999%;
	}

	.w_flex_row>.w_flex_35_view_medium {
		-webkit-flex: 1 1 60%;
		flex: 1 1 60%;
		max-width: 59.999%;
		--width: 59.999%;
	}

	.w_flex_row>.w_flex_45_view_medium {
		-webkit-flex: 1 1 80%;
		flex: 1 1 80%;
		max-width: 79.999%;
		--width: 79.999%;
	}

	.w_flex_row>.w_flex_56_view_medium {
		-webkit-flex: 1 1 83.3333%;
		flex: 1 1 83.3333%;
		max-width: 83.332%;
		--width: 83.332%;
	}

	.w_flex_row>.w_flex_max_view_medium {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.w_flex_row>.w_flex_fix_view_medium {
		width: auto;
		flex: inherit;
	}

	.w_flex_start_view_medium {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	.w_flex_end_view_medium {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}

	.w_flex_center_view_medium {
		-webkit-justify-content: center;
		-webkit-align-items: center;
		justify-content: center;
		align-items: center;
	}

	.w_flex_between_view_medium {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.w_flex_row_str_view_medium {
		-webkit-align-items: stretch;
		align-items: stretch;
	}

	.w_flex_row_top_view_medium {
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	.w_flex_row_bottom_view_medium {
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}

	.w_flex_left_view_medium {
		margin-right: auto;
	}

	.w_flex_right_view_medium {
		margin-left: auto;
	}

	.w_order_1_view_medium {
		order: 1;
	}

	.w_order_2_view_medium {
		order: 2;
	}

	.w_order_3_view_medium {
		order: 3;
	}

	.w_order_4_view_medium {
		order: 4;
	}

	.w_order_5_view_medium {
		order: 5;
	}

	.w_order_6_view_medium {
		order: 6;
	}

	.w_block_view_medium {
		display: block;
	}

	.w_inline_view_medium {
		display: inline-block;
	}

	.w_flex_view_medium {
		display: -webkit-flex;
		display: flex;
		box-sizing: border-box;
	}

	.w_inline_flex_view_medium {
		display: inline-flex;
	}

	img.w_image_view_medium {
		width: 100%;
		height: auto;
		display: block;
	}

	.w_hide_view_medium {
		display: none;
	}

	.w_relative_view_medium {
		position: relative;
	}

	.w_left_view_medium {
		text-align: left;
	}

	.w_right_view_medium {
		text-align: right;
	}

	.w_center_view_medium {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.w_flex_row>.w_flex_11_view_small {
		-webkit-flex: 1 1 100%;
		flex: 1 1 100%;
		max-width: 100%;
		--width: 100%;
	}

	.w_flex_row>.w_flex_12_view_small {
		-webkit-flex: 1 1 50%;
		flex: 1 1 50%;
		max-width: 50%;
		--width: 49.999%;
	}

	.w_flex_row>.w_flex_13_view_small {
		-webkit-flex: 1 1 33.333%;
		flex: 1 1 33.333%;
		max-width: 33.333%;
		--width: 33.332%;
	}

	.w_flex_row>.w_flex_14_view_small {
		-webkit-flex: 1 1 25%;
		flex: 1 1 25%;
		max-width: 25%;
		--width: 24.999%;
	}

	.w_flex_row>.w_flex_15_view_small {
		-webkit-flex: 1 1 20%;
		flex: 1 1 20%;
		max-width: 19.999%;
		--width: 19.999%;
	}

	.w_flex_row>.w_flex_16_view_small {
		-webkit-flex: 1 1 16.667%;
		flex: 1 1 16.667%;
		max-width: 16.666%;
		--width: 16.666%;
	}

	.w_flex_row>.w_flex_23_view_small {
		-webkit-flex: 1 1 66.667%;
		flex: 1 1 66.667%;
		max-width: 66.666%;
		--width: 66.666%;
	}

	.w_flex_row>.w_flex_25_view_small {
		-webkit-flex: 1 1 40%;
		flex: 1 1 40%;
		max-width: 39.999%;
		--width: 39.999%;
	}

	.w_flex_row>.w_flex_34_view_small {
		-webkit-flex: 1 1 75%;
		flex: 1 1 75%;
		max-width: 74.999%;
		--width: 74.999%;
	}

	.w_flex_row>.w_flex_35_view_small {
		-webkit-flex: 1 1 60%;
		flex: 1 1 60%;
		max-width: 59.999%;
		--width: 59.999%;
	}

	.w_flex_row>.w_flex_45_view_small {
		-webkit-flex: 1 1 80%;
		flex: 1 1 80%;
		max-width: 79.999%;
		--width: 79.999%;
	}

	.w_flex_row>.w_flex_56_view_small {
		-webkit-flex: 1 1 83.3333%;
		flex: 1 1 83.3333%;
		max-width: 83.332%;
		--width: 83.332%;
	}

	.w_flex_row>.w_flex_max_view_small {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
	}

	.w_flex_row>.w_flex_fix_view_small {
		width: auto;
		flex: inherit;
	}

	.w_flex_start_view_small {
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
	}

	.w_flex_end_view_small {
		-webkit-justify-content: flex-end;
		justify-content: flex-end;
	}

	.w_flex_center_view_small {
		-webkit-justify-content: center;
		-webkit-align-items: center;
		justify-content: center;
		align-items: center;
	}

	.w_flex_between_view_small {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}

	.w_flex_row_str_view_small {
		-webkit-align-items: stretch;
		align-items: stretch;
	}

	.w_flex_row_top_view_small {
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	.w_flex_row_bottom_view_small {
		-webkit-align-items: flex-end;
		align-items: flex-end;
	}

	.w_flex_left_view_small {
		margin-right: auto;
	}

	.w_flex_right_view_small {
		margin-left: auto;
	}

	.w_order_1_view_small {
		order: 1;
	}

	.w_order_2_view_small {
		order: 2;
	}

	.w_order_3_view_small {
		order: 3;
	}

	.w_order_4_view_small {
		order: 4;
	}

	.w_order_5_view_small {
		order: 5;
	}

	.w_order_6_view_small {
		order: 6;
	}

	.w_block_view_small {
		display: block;
	}

	.w_inline_view_small {
		display: inline-block;
	}

	.w_flex_view_small {
		display: -webkit-flex;
		display: flex;
		box-sizing: border-box;
	}

	.w_inline_flex_view_small {
		display: inline-flex;
	}

	img.w_image_view_small {
		width: 100%;
		height: auto;
		display: block;
	}

	.w_hide_view_small {
		display: none;
	}

	.w_relative_view_small {
		position: relative;
	}

	.w_relative_view_small {
		position: relative;
	}

	.w_left_view_small {
		text-align: left;
	}

	.w_right_view_small {
		text-align: right;
	}

	.w_center_view_small {
		text-align: center;
	}

	.w_border_opacity_view_small,
	.w_flex_margin.w_border_opacity_view_small>* {
		border-color: transparent;
	}

	.w_bg_position_view_small {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.w_bg_position_view_small:hover {
		background-size: inherit;
	}
}

.w_flex.w_flex_margin {
	width: calc(100% + var(--s3));
	margin: calc(var(--s3) * -1) 0 0 calc(var(--s3) * -1);
}

.w_flex.w_flex_margin>* {
	margin: var(--s3) 0 0 var(--s3);
	max-width: calc(var(--width) - var(--s3));
	max-height: calc(var(--height) - var(--s3));
}

.w_flex.w_flex_margin_small {
	width: calc(100% + var(--s));
	margin: calc(var(--s) * -1) 0 0 calc(var(--s) * -1);
}

.w_flex.w_flex_margin_small>* {
	margin: var(--s) 0 0 var(--s);
	max-width: calc(var(--width) - var(--s));
	max-height: calc(var(--height) - var(--s));
}

.w_flex.w_flex_margin_medium {
	width: calc(100% + var(--s4));
	margin: calc(var(--s4) * -1) 0 0 calc(var(--s4) * -1);
}

.w_flex.w_flex_margin_mediFum>* {
	margin: var(--s4) 0 0 var(--s4);
	max-width: calc(var(--width) - var(--s4));
	max-height: calc(var(--height) - var(--s4));
}

.w_flex.w_flex_margin_large {
	width: calc(100% + var(--s5));
	margin: calc(var(--s5) * -1) 0 0 calc(var(--s5) * -1);
}

.w_flex.w_flex_margin_large>* {
	margin: var(--s5) 0 0 var(--s5);
	max-width: calc(var(--width) - var(--s5));
	max-height: calc(var(--height) - var(--s5));
}

.w_flex.w_flex_margin.w_padding {
	padding: var(--s3);
}

.w_flex.w_flex_margin_small.w_padding {
	padding: var(--s);
}

.w_flex.w_flex_margin_medium.w_padding {
	padding: var(--s4);
}

.w_flex.w_flex_margin_large.w_padding {
	padding: var(--s5);
}