@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&subset=cyrillic-ext');

:root {
	--color-00: #000000;
	--color-02: #050505;
	--color-05: #0d0d0d;
	--color-20: #333333;
	--color-25: #404040;
	--color-50: #808080;
	--color-75: #bfbfbf;
	--color-85: #d9d9d9;
	--color-95: #f2f2f2;
	--color-98: #fafafa;
	--color-100: #ffffff;
	--color-attention: #cf4343;
	--color-success: #52c585;
	--color-warning: #f6f1a3;
	--color-button: #5897fb;
	--color-focus: #007fff;
	--color-active: #5897fb;
	--color-green: #00AC86;
	--color-red: #d06666;
	--color-primary: var(--color-20);
	--color-slave: var(--color-75);
	--color-highlight: #fffed3;
	--color-links: #0080C0;
}

:root {
	--margin: 0;
	--s: 6px;
	--s-half: 3px;
	--s2: 12px;
	--s3: 18px;
	--s4: 24px;
	--s5: 30px;
	--s6: 36px;
	--s10: 60px;
	--s16: 96px;
	--s20: 120px;
	--width: 100%;
	--height: 100%;
	--font: 'Roboto', sans-serif;
	--font-default: 16px;
	--font-small: 14px;
	--font-tiny: 12px;
	--font-medium: 22px;
	--font-large: 32px;
	--font-xlarge: 36px;
	--font-extra: 42px;
	--border: 1px solid var(--color-85);
	--shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.w_theme_block_light {
	display: block;
}

.w_theme_block_dark {
	display: none;
}

@media screen and (max-width: 810px) {
	:root {
		--s: 5px;
		--s-half: 2.5px;
		--s2: 10px;
		--s3: 15px;
		--s4: 20px;
		--s5: 25px;
		--s6: 30px;
		--s10: 50px;
		--s16: 80px;
		--s20: 100px;
		--font-default: 14px;
		--font-small: 12px;
		--font-tiny: 10px;
		--font-medium: 18px;
		--font-large: 28px;
		--font-xlarge: 32px;
		--font-extra: 38px;
	}
}

@media screen and (max-width: 480px) {
	:root {
		--s: 4px;
		--s-half: 2px;
		--s2: 8px;
		--s3: 12px;
		--s4: 16px;
		--s5: 20px;
		--s6: 24px;
		--s10: 40px;
		--s16: 64px;
		--s20: 80px;
		--font-default: 14px;
		--font-small: 12px;
		--font-tiny: 10px;
		--font-medium: 16px;
		--font-large: 26px;
		--font-xlarge: 30px;
		--font-extra: 36px;
	}
}

[data-theme="dark"] {
	--color-00: #ffffff;
	--color-02: #fafafa;
	--color-05: #f2f2f2;
	--color-20: #cccccc;
	--color-25: #bfbfbf;
	--color-50: #808080;
	--color-75: #404040;
	--color-85: #333333;
	--color-95: #292929;
	--color-98: #181818;
	--color-100: #0c0c0c;
	--color-primary: var(--color-05);
	--color-attention: #e87878;
	--color-success: #6dd19f;
	--color-warning: #f8f3b5;
	--color-button: #6ba4fd;
	--color-focus: #5a88d4;
	--color-active: #6ba4fd;
	--color-green: #1abf99;
	--color-red: #e87878;
	--border: 1px solid var(--color-85);
	--shadow: 0 0 12px rgba(0, 0, 0, 0.1);

	.w_theme_block_light {
		display: none;
	}

	.w_theme_block_dark {
		display: block;
	}
}