div.carousel.slick-slider {
	margin: 0
}

div.carousel.slick-slider .slick-prev {
	left: 50%;
	margin-left: -620px;
	width: 45px;
	height: 45px;
	z-index: 5;
}

div.carousel.slick-slider .slick-prev:before {
	content: '\f104';
	font-family: 'FontAwesome';
	font-size: 50px;
	z-index: 6;
	opacity: 1;
}

div.carousel.slick-slider .slick-next {
	right: 50%;
	margin-right: -620px;
	width: 45px;
	height: 45px;
	z-index: 5;
}

div.carousel.slick-slider .slick-next:before {
	content: '\f105';
	font-family: 'FontAwesome';
	font-size: 50px;
	z-index: 6;
	opacity: 1;
}

div.carousel.slick-slider .slick-dots {
	bottom: 7%;
}

div.carousel.slick-slider .slick-dots li button:before {
	color: #f0f0f0;
	content: '';
	background: transparent url(/files/template/iz/bullet.png) center
		no-repeat;
}

div.carousel.slick-slider .slick-dots li.slick-active button:before {
	color: #f0f0f0;
	content: '';
	background: transparent url(/files/template/iz/bullet.active.png) center
		no-repeat;
}