div.page.advantages {
	background: var(--color-95);
}

section.tiles-wrapper>section:not(:first-child) {
	margin-top: var(--step4);
}

section.tiles-wrapper>section img {
	border-radius: var(--step2);
	display: block;
}

section.tiles-wrapper>section:nth-child(even) .text {
	order: 1;
}

section.tiles-wrapper>section:nth-child(even) .img {
	order: 2;
}

section.tiles-wrapper .title {
	font-size: var(--font-large);
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: var(--step2);
}

@media screen and (max-width: 480px) {
	section.tiles-wrapper>section:nth-child(even) .text {
		order: 3;
	}
}