@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Condensed|Roboto:400,400i,500,500i,700,700i&subset=cyrillic');

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'PT Sans', sans-serif;
	font-size: var(--font-default);
	color: var(--color-25);
	line-height: 1.4;
	background: var(--color-95);
	width: 100%;
	min-height: 100vh;
}

body {
	overflow-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	flex: auto;
	align-items: center;
	justify-content: center;
}

header {
	width: 100%;
	flex: 0 0 auto;
}

footer {
	width: 100%;
	flex: 0 0 auto;
}

main {
	width: 100%;
	flex: 1 1 auto;
	background: var(--color-100);
	position: relative;
}

h1 {
	font-size: var(--font-large);
	color: var(--color-00);
	margin: var(--step4) 0 var(--step2) 0;
}

div.page {
	width: 100%;
	background: var(--color-98);
}

div.page div.page2,
div.page>section {
	width: 100%;
	max-width: 1400px;
	background: transparent;
	position: relative;
	padding: 0 0;
	margin: 0 auto;
}

div.page.footer {
	height: auto;
	background: var(--color-95);
}

div.page.footer a {
	text-decoration: none;
	color: var(--color-25);
}
div.page.footer .footer-wrapper {
	border-radius: var(--step2) var(--step2) 0 0;
	margin-top: var(--step4);
}
div.page.footer .footer-wrapper>div {
	background: var(--color-100);
}
div.page.footer .footer-logo img {
	width: 120px;
	height: auto;
	display: block;
	opacity: 0.5;
}

div.page.footer .footer-company {
	opacity: 0.5;
}

div.page.footer .footer-socials {
	opacity: 0.5;
}

body form.pps_form {
	background: var(--color-95);
}

body a.pps_button,
body label.pps.pps_button input {
	color: var(--color-100);
	background: var(--color-green);
	border: 1px solid var(--color-green);
}

body a.pps_button:hover,
body label.pps.pps_button input:hover {
	color: var(--color-100);
	background-color: var(--color-green-dark);
}

body a.pps_button:active,
body label.pps.pps_button input:active {
	color: var(--color-100);
	background-color: var(--color-green-dark);
	box-shadow: none;
	cursor: default;
}

body div.text p {
	margin-top: 0;
	margin-bottom: var(--step2);
}

body div.text p:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 1440px) {
	div.page div.page2,
	div.page>section {
		padding: 0 var(--step4);
	}
}

@media screen and (max-width: 810px) {}


@media screen and (max-width: 480px) {}