body div.content-block.delivery-address {
    overflow: inherit;
}
body div.content-block.delivery-address.active {
    background-color: var(--color-button);
}
body div.content-block.delivery-address .title {
    margin-bottom: var(--step);
}
body div.content-block.delivery-address.active .title {
    color: var(--color-100);
}
label.pps.pps_button.w_hide {
    display: none;
}
label.pps.label-dadata {
    display: block;
}
body div.content-block.delivery-address.active label.pps.pps_button>input {
    border-color: var(--color-100);
}
label.pps.label-dadata input.suggestions-input.active {
    border-radius: var(--step2) var(--step2) 0 0;
    border-bottom-color: transparent;
    border-bottom: none;
}

label.pps.label-dadata input.suggestions-input + .suggestions-wrapper>.suggestions-suggestions {
    border-color: var(--color-button);
    border-width: var(--stepHalf);
    border-top-width: 1px;
    border-radius: 0 0 var(--step2) var(--step2);
    overflow: hidden;
}
