.w_admin_list {
	background: rgba(0, 0, 0, 0.1);
	width: max-content;
	border-radius: var(--s);
	position: fixed;
	bottom: var(--s2);
	right: var(--s5);
	z-index: 10;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.w_admin_list>a {
	display: block;
	text-decoration: none;
	width: var(--s6);
	height: var(--s4);
}

.w_admin_list>a:before {
	content: '';
	background: url(/ext/Template/files/wepps-logo-squares.svg) center center no-repeat;
	background-size: auto var(--s2);
	padding: 0 var(--s2);
	width: var(--s6);
	height: var(--s4);
	opacity: 0.5;
	transition: all 0.3s ease;
	display: block;
	position: relative;
}

.w_admin_list>a:hover:before {
	opacity: 1;
}

.w_admin_list.w_admin_panels {
	right: inherit;
	left: var(--s);
	bottom: var(--s4);
}

.w_admin_navigator {
	background: rgba(0, 0, 0, 0.1);
	width: max-content;
	border-radius: var(--s);
	position: fixed;
	bottom: var(--s2);
	right: var(--s5);
	z-index: 10;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
}

.w_admin_navigator>a {
	display: block;
	text-decoration: none;
	width: var(--s6);
	height: var(--s4);
}

.w_admin_navigator>a:before {
	content: '';
	background: url(/ext/Template/files/wepps-logo-squares.svg) center center no-repeat;
	background-size: auto var(--s2);
	padding: 0 var(--s2);
	width: var(--s6);
	height: var(--s4);
	opacity: 0.5;
	transition: all 0.3s ease;
	display: block;
	position: relative;
}

.w_admin_navigator>a:hover:before {
	opacity: 1;
}