@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700,900&subset=cyrillic-ext');
* {
	outline: none;
}
html {
	background: #cecece;
	min-height: 100%;
	font-family: Roboto, sans-serif;
	color: #666;
	font-size: 14px;
	line-height: 130%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column nowrap;
	flex-flow: column nowrap;
}
body {
	margin: 0px 0 0 0;
	padding: 0 0 0 0;
	display: -webkit-flex;
	-webkit-flex-flow: column nowrap;
	-webkit-flex: auto;
	display: flex;
	flex-flow: column nowrap;
	flex: auto;
}
a {
	color: #0080C0;
	text-decoration: none;
}
a:hover,
a:active,
a:focus {
	color: #0000ff;
	text-decoration: underline;
}
.page {
	background: darkkhaki;
	max-width: 1280px;
	margin: 0 auto;
}
.page.main {
	padding: 0 0px;
}
.page.main .page2 {
	background: tomato;
	padding: 0 0px;
}
.page.main .page2 h1 {
	background: #ededed;
	margin: 0 10px;
	padding: 60px 10px 20px 10px;
	font-size: 2.4rem;
	font-weight: 500;
	text-transform: none;
	line-height: 100%;
}
.nav {
	background: #555555;
	margin: 0 10px !important;
	width: auto !important;
}
.nav>div div.item>a {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
}
.nav>div div.item>a:hover {
	background: #fff;
	color: #555;
}
.nav>div div.item.active>a {
	background: #ededed;
	color: #555;
}
.way {
	padding: 10px 20px 0px 20px;
}
.way>ul>li {
	margin: 0 20px 0 0;
	position: relative;
	font-weight: 500;
}
.way>ul>li a {
	color: #666;
	text-decoration: none;
}
.way>ul>li:after {
	content: '\f0da';
	font-family: 'FontAwesome';
	position: absolute;
	top:0;
	right: -12px;
}
.way>ul>li:last-child:after {
	content: '';
}
.leftmenu {
	line-height: 120%;
	font-size: 1.1rem;
}
.leftmenu .title {
	font-weight: 500;
	padding: 40px 10px 5px 10px;
	font-size: 18px;
}
.leftmenu ul.dir {
	margin-left: 10px;
	margin-right: 10px;
}
.leftmenu ul.dir li {
	padding-top: 10px;
}
.leftmenu ul.dir li.active a {
	font-weight: 700;
	color: #666;
}
.leftmenu ul.dir li.hidden a {
	opacity: 0.5;
}
.leftmenu>ul {
	padding-bottom: 10px;
}
.centercontent>div h2 {
	margin: 30px 0 20px 0;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 100%;
}
.bg1 {
	background: #e5e5e5;
	padding: 10px;
}
.bg1>.title {
	font-weight: 700;
}
.select2-container .select2-selection--single {
    height: 30px;
}
.select2-container .select2-selection--multiple {
    min-height: 30px;
}
.select2-container--default .select2-results__group {
    opacity: 0.5;
}

.pps_bg_silver {
	background: #f7f7f7;
}