*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

html {
	font-family: Roboto, sans-serif;
	font-size: var(--font-default);
	line-height: 1.4;
	letter-spacing: 0.03em;
	color: var(--color-50);
	background: var(--color-100);
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

body {
	padding: var(--s2);
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
	flex: auto;
}

a {
	text-decoration: none;
	color: var(--color-button);
}

a:hover,
a:active,
a:focus {
	color: var(--color-focus);
	text-decoration: underline;
}

.w_border {
	border-color: var(--color-85);
}

.page {
	background: var(--color-100);
	max-width: 1920px;
	margin: 0 auto;
}

.page.main {
	padding: 0;
}

.page.main .page2 {
	background: var(--color-100);
	padding: 0;
}

.page.main .page2 h1 {
	font-size: var(--font-large);
	font-weight: 500;
	text-transform: none;
	line-height: 1;
	color: var(--color-primary);
	background: var(--color-95);
	padding: var(--s6) var(--s2) var(--s4) var(--s3);
	margin: 0;
	border-radius: 0 0 var(--s2) var(--s2);
}

.page.main .page2 h2 {
	font-size: var(--font-medium);
	font-weight: 500;
	text-transform: none;
	line-height: 1.2;
	color: var(--color-primary);
	padding: var(--s6) 0 var(--s4) 0;
	margin: 0;
}

.page.footer {
	padding-top: var(--s4);
	padding-bottom: var(--s4);
	margin-top: var(--s4);
	border-top: var(--border);
}

.nav {
	background: var(--color-25);
	border-radius: var(--s2) var(--s2) 0 0;
}

.nav>div div.item>a {
	display: block;
	padding: var(--s2) var(--s3);
	text-decoration: none;
	color: var(--color-100);
	font-weight: 700;
}

.nav>div div.item>a:hover {
	background: var(--color-95);
	color: var(--color-50);
}

.nav>div div.item.active>a {
	background: var(--color-95);
	color: var(--color-primary);
}

.way {
	padding: var(--s2) var(--s3);
}

.way>ul>li {
	margin: 0 var(--s5) 0 0;
	position: relative;
}

.way>ul>li a {
	color: var(--color-50);
	text-decoration: none;
}

.way>ul>li:after {
	content: '\f0da';
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	right: calc(-1 * var(--s3));
}

.way>ul>li:last-child:after {
	content: '';
}

.sidebar label.list-search input:focus {
	border-radius: var(--s2) var(--s2) 0 0;
	border-bottom: 1px solid var(--color-active);
}

.sidebar .title {
	font-size: var(--font-medium);
	font-weight: 500;
	line-height: 1.2;
	padding: var(--s6) 0 var(--s) 0;
}

.sidebar .title.title-search {
	padding-top: var(--s5);
}

.sidebar ul.dir>ul.dir {
	margin-left: var(--s2);
}

.sidebar ul.dir li {
	line-height: 1.2;
	padding-top: var(--s2);
}

.sidebar ul.dir li.active a {
	font-weight: 700;
	color: var(--color-50);
}

.sidebar ul.dir li.hidden a {
	opacity: 0.5;
}

.sidebar>ul {
	padding-bottom: var(--s2);
}

.centercontent>div h2 {
	font-size: var(--font-medium);
	font-weight: 500;
	line-height: 1;
	color: var(--color-primary);
	margin: var(--s4) 0 var(--s2) 0;
}

.w_bg_silver {
	background: var(--color-98);
}

.bg1 {
	background: var(--color-98);
	padding: var(--s2);
}

.bg1>.title {
	font-weight: 700;
}

.block-rounded {
	border-radius: var(--s2);
	overflow: hidden;
}

.ui-widget.ui-widget-content.ui-autocomplete {
	color: var(--color-05);
	background: var(--color-100);
	border: var(--s-half) solid var(--color-button);
	border-top: 0;
	border-radius: 0 0 var(--s2) var(--s2);

}

body #theme-switcher {
	font-size: var(--font-default);
	color: var(--color-50);
	background: var(--color-85);
	padding: var(--s);
	width: var(--s6);
	height: var(--s6);
	border: none;
	border-radius: 50%;
	cursor: pointer;
	transition: background 0.3s ease;
}