div.pps_error {
	color: var(--color-100);
	background: var(--color-attention);
	background-size: 15px 15px;
	padding-left: var(--step2);
	padding-right: var(--step6);
	min-height: calc(var(--step6) - 2px);
	border-radius: var(--stepHalf);
	cursor: pointer;
	position: absolute;
	z-index: 10;
	right: 1px;
	top: 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.pps_error:after {
	content: '\f622';
	font-family: 'bootstrap-icons';
	font-size: var(--font-default);
	position: absolute;
	top: 50%;
	right: var(--step2);
	transform: translate(0, -50%);
}

div.pps_error:before {
	content: '';
	position: absolute;
	border: var(--step) solid transparent;
	border-right: var(--step) solid var(--color-attention);
	top: 50%;
	left: calc(-1 * var(--step2) + 1px);
	transform: translate(0, -50%);
}

form.pps_success {
	text-align: center;
	font-size: var(--font-medium);
	padding: var(--step4) var(--step4);
	background: var(--color-98);
	border: 1px solid var(--color-success);
	border-radius: 0;
}

label.pps {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

label.pps.pps_require {
	position: relative;
}

label.pps.pps_require:after {
	content: '\f287';
	font-family: 'bootstrap-icons';
	font-size: 9px;
	position: absolute;
	left: calc(-1 * var(--step3));
	top: var(--step2);
	color: var(--color-attention);
}

label.pps.pps_require.pps_title {
	padding-top: var(--stepHalf);
}

label.pps * {
	font-size: var(--font-default);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

label.pps input,
label.pps textarea,
label.pps select {
	font-family: var(--font);
	font-weight: 300;
	letter-spacing: 0.03em;
	outline: none
}

label.pps.pps_checkbox {
	width: max-content;
	max-width: 100%;
}

label.pps.pps_checkbox input[type="checkbox"] {
	display: none;
}

label.pps.pps_checkbox input[type="checkbox"]+span {
	padding: 0 var(--step) var(--step) 0;
	display: inline-flex;
	align-items: center;
}

label.pps.pps_checkbox input[type="checkbox"]+span:before {
	content: "\f584";
	font-family: 'bootstrap-icons';
	font-size: var(--font-medium);
	color: var(--color-50);
	margin-right: var(--step2);
}

label.pps.pps_checkbox input[type="checkbox"]:checked+span:before {
	content: "\f26C";
	color: var(--color-green);
}

label.pps.pps_checkbox input[type="checkbox"][disabled]+span {
	color: var(--color-85);
	cursor: default;
}

label.pps.pps_checkbox input[type="checkbox"][disabled]+span:before {
	color: var(--color-85);
}

label.pps.pps_radio input[type="radio"] {
	display: none;
}

label.pps.pps_radio input[type="radio"]+span {
	padding: 0 var(--step) var(--step) 0;
	display: inline-flex;
	align-items: center;
}

label.pps.pps_radio input[type="radio"]+span:before {
	content: "\f28A";
	font-family: 'bootstrap-icons';
	font-size: var(--font-medium);
	color: var(--color-50);
	margin-right: var(--step2);
}

label.pps.pps_radio input[type="radio"]:checked+span:before {
	content: "\f26A";
	color: var(--color-green);
}

label.pps.pps_radio input[type="radio"][disabled]+span {
	color: var(--color-85);
	cursor: default;
}

label.pps.pps_radio input[type="radio"][disabled]+span:before {
	color: var(--color-85);
}

label.pps.pps_select>select {
	width: 100%;
}

label.pps.pps_upload {
	width: max-content;
	max-width: 100%;
}

label.pps.pps_upload input[type="file"] {
	opacity: 0;
	display: none;
}

label.pps.pps_upload span {
	font-weight: 300;
	line-height: inherit;
	color: var(--color-20);
	background: transparent;
	border: 1px solid var(--color-50);
	border-radius: var(--stepHalf);
	margin: 0;
	padding: 0 var(--step2);
	width: auto;
	max-width: max-content;
	min-height: var(--step6);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}
label.pps.pps_upload span:hover {
	color: var(--color-focus);
	background-color: var(--color-98);
}
label.pps.pps_upload i {
	margin-right: var(--step);
}
label.pps.pps_input input {
	width: 100%;
	border: var(--border);
	border-radius: var(--stepHalf);
	padding: var(--step);
	height: var(--step6);
	margin: 0;
	display: block;
}

label.pps.pps_area textarea {
	width: 100%;
	min-height: 65px;
	border: var(--border);
	border-radius: var(--stepHalf);
	padding: 4px 5px;
	margin: 0 !important;
	resize: none;
	overflow: hidden;
	display: block;
}

label.pps.pps_select select:focus,
label.pps.pps_area textarea:focus,
label.pps.pps_input input:focus {
	box-shadow: inset 0 0 var(--step2) var(--color-95);
}

label.pps.pps_button {
	display: inline-block;
}

a.pps_button,
span.pps_button,
label.pps.pps_button input {
	font-weight: 300;
	font-size: var(--font-default);
	color: var(--color-20);
	background: var(--color-100);
	border: 1px solid var(--color-50);
	border-radius: var(--stepHalf);
	padding: 0 var(--step2);
	min-height: var(--step6);
	display: inline-flex;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	position: relative;
}

a.pps_button:hover,
span.pps_button:hover,
label.pps.pps_button input:hover {
	color: var(--color-focus);
	background-color: var(--color-98);
}

a.pps_button:active,
span.pps_button:active,
label.pps.pps_button input:active {
	border-color: var(--color-focus);
	cursor: default;
}

a.pps_button:disabled,
span.pps_button:disabled,
label.pps.pps_button input:disabled,
label.pps.pps_button input:disabled:hover {
	background-color: var(--color-85);
	border-color: var(--color-85);
	box-shadow: none;
	cursor: default;
}

body a.pps_button,
body span.pps_button {
	text-decoration: none;
	min-height: var(--step6);
	align-items: center;
	justify-content: center;
}

form {
	width: auto;
	margin: 0px;
	padding: 0px;
}

.select2-container .select2-selection--single {
	border-color: var(--color-85);
	height: var(--step6);
	min-height: var(--step6);
}

.select2-container .select2-selection--single:hover {
	border-color: var(--color-85);
	box-shadow: inset 0 0 var(--step2) var(--color-95);
}

.select2-container .select2-selection--multiple {
	border-color: var(--color-85);
	min-height: var(--step6);
}

.select2-container .select2-selection--multiple:hover {
	border-color: var(--color-85);
	box-shadow: inset 0 0 var(--step2) var(--color-95);
}

.select2-container--default .select2-results__group {
	opacity: 0.5;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translate(0, -50%);
}

.select2-container .select2-selection--single .select2-selection__rendered {
	display: flex;
	height: var(--step6);
	flex-direction: column;
	justify-content: center;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: var(--step5);
	padding-bottom: var(--stepHalf);
}