div.page.products {
	overflow: auto;
	padding-bottom: var(--step4);
	padding-top: var(--step4);
}

div.products-options {
	margin-top: var(--step4);
}

div#pps-option-filters {
	cursor: pointer;
}

div#pps-option-filters i {
	font-size: var(--font-medium);
}



/****/


div.status {
	width: 50px;
	height: 50px;
	background-color: #97de90;
	border-radius: 25px;
	border: 3px solid white;
	box-shadow: 0 0 5px #af9d92;
	position: absolute;
	text-align: center;
	z-index:1;
	top: 20px;
	left: 20px;
}

div.status:before {
	content: "\f295";
	font-size: 32px;
	line-height: 100%;
	font-family: 'FontAwesome';
	text-align: center;
	z-index: 1;
	pointer-events: none;
	color: white;
	position: absolute;
	left:0;
	top: 5px;
	width: 100%;
}

div.status.statusSale {
	
}

/*хит*/

div.status.status3 {
	background-color: #de9090;
}
div.status.status3:before {
	content: "\f005";
}
/*распродажа*/
div.status.status4 {
	background-color: #97de90; 
}
div.status.status4:before {
	content: "\f295";
}
/*лидер продаж*/
div.status.status5 {
	background-color: #90bade; 
}
div.status.status5:before {
	content: "\f087";
}
