div.page.products {
	overflow: auto;
	padding-bottom: var(--step4);
	padding-top: var(--step4);
}

div.products-options {
	margin-top: var(--step4);
}

div#pps-option-filters {
	cursor: pointer;
}

div#pps-option-filters i {
	font-size: var(--font-medium);
}

div.product-media {
	position: relative;
}

/****/

div.status {
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	width: var(--step6);
	height: var(--step6);
	position: absolute;
	top: var(--step4);
	left: var(--step4);
	z-index:1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.status:before {
	content: '\f588';
	font-size: var(--font-medium);
	font-family: 'bootstrap-icons';
	text-align: center;
	color: var(--color-100);
	pointer-events: none;
	width: 100%;
}
div.status.status3:before {
	content: '\f588';
}
div.status.status4:before {
	content: '\F4D1';
}
div.status.status5:before {
	content: '\F5E7';
}
