div.products-items-wrapper {
	margin-top: var(--s4);
	overflow: auto;
}

div.products-items>section {
	background: var(--color-100);
	border-radius: var(--s2);
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}

div.products-items>section a {
	text-decoration: none;
	color: var(--color-primary);
	position: relative;
	flex:1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.products-items>section span.img {
	display: block;
}

div.products-items>section span.title {
	font-weight: 600;
	padding: var(--s2);
	display: block;
}

div.products-items>section div.prices-wrapper {
	padding: var(--s2);
	position: relative;
}
