.product-container {
	width: auto;
	margin: 0 0px;
}

.product-container .summary {
	width: auto;
	margin: 0 -30px;
}

.product-container .summary > div {
	border-width: 20px
}

.product-container .summary .fotos {
	order: 5;
}

.product-container .summary .fotos .fotos-container {
	
}

.product-container .summary .fotos .fotos-container.slick-slider {
	margin-bottom: 15px;
}

.product-container .summary .fotos .fotos-container .item {
	overflow: hidden;
	position: relative;
}

.product-container .summary .fotos .fotos-container .item.itemVideo .video-wrapper
	{
	position: relative;
}

.product-container .summary .fotos .fotos-container .item.itemVideo .video-wrapper iframe
	{
	width: 100%;
	height: 100%;
}

.product-container .summary .fotos .fotos-nav {
	width: auto;
	margin-right: -15px;
}

.product-container .summary .fotos .fotos-nav .item {
	margin-right: 15px
}

.product-container .summary .fotos .fotos-nav .item img {
	border: 2px solid white;
	display: block;
}

.product-container .summary .fotos .fotos-nav .item.itemVideo {
	position: relative;
}

.product-container .summary .fotos .fotos-nav .item.itemVideo div {
	background: rgba(0, 0, 0, 0.5) url(/files/template/2016/play-video.svg)
		center center no-repeat;
	background-size: 67px 67px;
	position: absolute;
	top: 2px;
	right: 2px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
}

.product-container .summary .fotos .fotos-nav .item.itemVideo div img {
	
}

.product-container .summary .fotos .fotos-nav .item.slick-current img {
	border-color: #666;
}

.product-container .summary .descr {
	order: 6;
	
}

.product-container .summary .descr h1 {
	margin-top: 0;
	padding-top: 0;
	
}

.product-container .summary .descr .descr2 {
	padding: 0 20px;
}

.product-container .summary .descr .descr2 h1 {
	color: #222;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.product-container .summary .descr .descr2 .title {
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: 500;
}

.product-container .summary .descr .descr2 .titleyell {
	color: #ffcc00;
}

.product-container .summary .descr .descr2 .titlegreen {
	color: #00962c;
}

.product-container .summary .descr .descr2 .chars {
	margin-top: 15px;
}

.product-container .summary .descr .descr2 .chars .item {
	margin: 10px 0;
}

.product-container .summary .descr .descr2 .chars .item .itm {
	color: #666;
}

.product-container .summary .descr .descr2 .chars .item .val {
	
}

.product-container .summary .descr .descr2 .chars .item .val span {
	display: block;
}

.product-container .summary .descr .descr2 .deliveryPrice {
	margin-top: 15px;
}

.product-container .summary .actions {
	order: 7;
	position: relative;
}

.product-container .summary .actions .descr2 {
	position: relative;
	padding-top: 50px;
}

.product-container .summary .actions .descr2 .status {
	background: #d8a93a;
	color: white;
	position: absolute;
	padding: 4px 5px 2px 5px;
	top: 0px;
}

.product-container .summary .actions .descr2 .price {
	font-size: 40px;
	font-weight: 500;
}

.product-container .summary .actions .descr2 .price.old {
	color: #999;
	text-decoration: line-through;
	font-weight: normal;
	font-size: 20px;
}