.page>.exampletest-wrapper {
	padding-bottom: var(--step4);
}
.exampletest-wrapper>.pps_blocks>.pps_block {
	min-height: 100px;
	background: var(--color-warning);
	position: relative;
	border-radius: var(--step2);
	display: flex;
	justify-content: center;
	align-items: center;
}