.page>.exampletest-wrapper {
	padding-bottom: var(--s4);
}

.exampletest-wrapper>.w_blocks>.w_block {
	min-height: 100px;
	background: var(--color-warning);
	position: relative;
	border-radius: var(--s2);
	display: flex;
	justify-content: center;
	align-items: center;
}