.w_modal_parent {
	overflow-y: scroll;
}
.w_modal_parent > header,
.w_modal_parent > footer,
.w_modal_parent > main {
    filter: blur(3px);
    opacity: 0.5;
}
.w_modal_wrapper {
	background: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	max-height: 100%;
	position: fixed;
	z-index: 9898;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.w_modal {
	background-color: var(--color-100);
	padding: var(--step4);
	padding-top: 66px;
	margin: var(--step6) 0;
	width: 100%;
	max-width: 600px;
	min-height: 240px;
	max-height: 100%;
	position: relative;
	border-radius: var(--step2);
	box-shadow:0 0 var(--step2) rgba(0,0,0,0.1);
	overflow: auto;
	scrollbar-width: thin;
	display: none;
}
.w_modal.w_modal_small {
	max-width: 300px;
	min-height: 180px;
}
.w_modal.w_modal_medium {
	max-width: 620px;
}
.w_modal.w_modal_large {
	max-width: 100%;
	min-height: 100%;
	border-radius: 0;
}
.w_modal_closer {
	width: var(--step4);
	height: var(--step4);
	background: transparent url(files/controls-remove-gray.svg);
	background-size: contain;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top:var(--step4);
	right: var(--step4);
}

.w_modal_content h1,
.w_modal_content h2 {
	font-size: 22px;
	text-align: left;
	letter-spacing: 2px;
	width: 100%;
	max-width: calc(100% - 60px);
	padding-bottom: 20px;
	margin: 0 0 20px 0;
}
.w_loader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100% ;
	height: 100%;
	background: rgba(255,255,255,.5);
}

.lds-spinner {
	width: 60px;
	height: 60px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
}

.lds-spinner div {
	transform-origin: 30px 30px;
	animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #000;
}

.lds-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 810px) {
	.w_modal_wrapper.w_modal_medium {
		justify-content: end;
	}
	.w_modal.w_modal_medium {
		margin-bottom: 0;
		border-radius: var(--step4) var(--step4) 0 0;
	}
}


@media screen and (max-width: 480px) {}