 
label.pps.pps_input {
	
} 
label.pps.pps_input>input.w_suggestions {

}
label.pps.pps_input>input.focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}
div.w_suggestions {
	background: var(--color-100);
	border: var(--border);
	border-width: var(--stepHalf);
	border-top-width: 1px;
	border-color: var(--color-button);
	border-radius: 0 0 var(--step2) var(--step2);
	width: 100%;
	/* width: calc(100% + var(--step) - 1px); */
	max-height: calc(var(--step) * 48);
	margin-top: 0;
	scrollbar-width: thin;
	overflow-y: auto;
	display: block;
	position: absolute;
	z-index: 90;
}

div.w_suggestions.w_hide {
	display: none;
}

div.w_suggestions-loader {
	padding: var(--step2);
	text-align: center;
	position: absolute;
	display: none;
}

div.w_suggestions-item {
	border-bottom: var(--border);
	padding: var(--step);
	cursor: pointer;
	display: block;
}

div.w_suggestions-item:hover,
div.w_suggestions-item.focus {
	background-color: var(--color-98);
}

