label.w_label.w_input>input.focus {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: none;
}

div.w_suggestions {
	background: var(--color-100);
	border: var(--border);
	border-width: var(--s-half);
	border-top-width: 1px;
	border-color: var(--color-button);
	border-radius: 0 0 var(--s2) var(--s2);
	width: 100%;
	/* width: calc(100% + var(--s) - 1px); */
	max-height: calc(var(--s) * 48);
	margin-top: 0;
	scrollbar-width: thin;
	overflow-y: auto;
	display: block;
	position: absolute;
	z-index: 90;
}

div.w_suggestions.w_hide {
	display: none;
}

div.w_suggestions-loader {
	text-align: center;
	background-color: var(--color-100);
	padding: var(--s2);
	position: absolute;
	display: none;
}

div.w_suggestions-item {
	border-bottom: var(--border);
	padding: var(--s);
	cursor: pointer;
	display: block;
}

div.w_suggestions-item:hover,
div.w_suggestions-item.focus {
	background-color: var(--color-98);
}