optiongroup {
	font-weight: 600;
}

.list-data .title {
	text-transform: uppercase;
	margin-top: 10px;
}
.list-data ul.pps_list li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	max-width: max-content;
}

.list-data ul.pps_list li:hover {
	background: #f0f0f0;
}

.list-data ul.pps_list li .descr {
	font-weight: 300;
}

.listsBox {
	max-width: 200px;
}
