body div.content-block.delivery-address {
    overflow: inherit;
}

body div.content-block.delivery-address.active {
    background-color: var(--color-button);
}

body div.content-block.delivery-address .title {
    margin-bottom: var(--s);
}

body div.content-block.delivery-address.active .title {
    color: var(--color-100);
}

body div.content-block.delivery-address.active label.w_label.w_button>input {
    border-color: var(--color-100);
}

label.w_label.w_button.w_hide {
    display: none;
}

label.w_label.label-dadata {
    display: block;
}

label.w_label.label-dadata div.w_error {
    top: 50%;
    transform: translateY(-50%);
}

label.w_label.label-dadata input.suggestions-input.active {
    border-radius: var(--s2) var(--s2) 0 0;
    border-bottom-color: transparent;
    border-bottom: none;
}

label.w_label.label-dadata input.suggestions-input+.suggestions-wrapper>.suggestions-suggestions {
    background-color: var(--color-100);
    border-color: var(--color-button);
    border-width: var(--s-half);
    border-top-width: 1px;
    border-radius: 0 0 var(--s2) var(--s2);
    overflow: hidden;
}