.orders .price span::after {
	content: ' ₽';
}

.statuses>.item {
	padding: var(--step2) 0;
}

.statuses>.item.active>a {
	font-weight: 700;
	color: var(--color-50);
}

.orders {
	overflow: hidden;
	padding: var(--step2) 0;
}

.orders>.item {
	border-top: var(--border);
}

.orders>.item>.item-field {
	background-color: var(--color-98);
	padding: var(--step2);
	cursor: pointer;
}

.orders>.item.active>.item-field {
	font-weight: 900;
	color: var(--color-05);
	background: var(--color-85);
}