.paginator-wrapper {
  border-top: 1px solid var(--color-85);
  padding-top: var(--s3);
  padding-bottom: var(--s3);
}

.orders .price span::after {
	content: ' ₽';
}

.statuses>.item {
	padding: var(--s2) 0;
}

.statuses>.item.active>a {
	font-weight: 700;
	color: var(--color-50);
}

.orders {
	overflow: hidden;
	padding: var(--s2) 0;
}

.orders>.item {
	border-top: var(--border);
}

.orders>.item {
	background-color: var(--color-98);
}

.orders>.item.active {
	background: var(--color-85);
}

.orders>.item>.item-field {
	padding: var(--s2);
	cursor: pointer;
}

.orders>.item.active>.item-field {
	font-weight: 900;
	color: var(--color-primary);
}

.orders>.item>.order-wrapper {
	background-color: var(--color-100);
}