.orders .price span::after {
	content: ' ₽';
}

.statuses>.item {
	padding: 10px 0;
}

.statuses>.item.active>a {
	font-weight: 700;
	color: #666;
}

.orders {
	overflow: hidden;
	padding: 10px 0;
}

.orders>.item {
	border-top: 1px solid #e5e5e5;
	
}

.orders>.item>.itm {
	cursor: pointer;
	padding: 10px;
}

.orders>.item.active>.itm {
	background: #e5e5e5;
}
.orders>.item.active>.order {
	background: #f9f9f9;
	padding-bottom: 100px;
}

.orders>.item.active>.order .title {
	font-weight: 900;
	color: #000;
	letter-spacing: 1px;
	padding: 40px 10px 0 10px;
}

.orders .positions .item .options {
	font-weight: 300;
}