.orders>.item.active>.order-wrapper .title {
	margin-top: var(--s4);
	margin-bottom: var(--s2);
	padding: 0 var(--s);
}

.orders>.item.active>.order-wrapper .products>.item {
	padding: var(--s);
	border-bottom: var(--border);
}

.orders>.item.active>.order-wrapper .products>.item:hover {
	background: var(--color-100);
}

.orders>.item.active>.order-wrapper .products>.item:first-child {
	color: var(--color-75);
	background: transparent;
}

.orders>.item.active>.order-wrapper .products>.item>.quantity>label.w_label {}

.orders>.item.active>.order-wrapper .products>.item>.options>a {
	margin-left: var(--s2);
}

.orders>.item.active>.order-wrapper .products>.item label.w_label.w_input,
.orders>.item.active>.order-wrapper .products>.item label.w_label.w_select {
	padding-right: var(--s3);
}

.orders>.item.active>.order-wrapper .products>.item .price-tariff {
	font-weight: 400;
	font-size: var(--font-tiny);
	color: var(--color-attention);
}

.orders>.item.active>.order-wrapper .settings>.item {
	padding: var(--s);
	border-bottom: var(--border);
}

.orders>.item.active>.order-wrapper .settings>.item:last-child {
	border-bottom: 0;
	padding-bottom: var(--s4);
}

.orders>.item.active>.order-wrapper .settings>.item>.dt {
	color: var(--color-75);
	word-break: break-all;
	white-space: normal;
	padding-right: var(--s);
}

.orders>.item.active>.order-wrapper .settings>.item>.dd .date {
	font-size: var(--font-small);
	font-weight: 300;
}

.even:nth-of-type(even) {
	background: var(--color-98);
	border-radius: var(--s);
}
