.orders>.item.active>.order-wrapper .title {
	margin-top: var(--step4);
	margin-bottom: var(--step2);
	padding: 0 var(--step);
}
.orders>.item.active>.order-wrapper .products>.item {
	padding: var(--step);
	border-bottom: var(--border);
}

.orders>.item.active>.order-wrapper .products>.item:hover {
	background: var(--color-100);
}

.orders>.item.active>.order-wrapper .products>.item:first-child {
	color: var(--color-75);
	background: transparent;
}

.orders>.item.active>.order-wrapper .products>.item>.quantity>label.pps {
	max-width: 65px;
}

.orders>.item.active>.order-wrapper .products>.item>.options>a {
	margin-left: var(--step2);
}

.orders>.item.active>.order-wrapper .products>.item label.pps.pps_input,
.orders>.item.active>.order-wrapper .products>.item label.pps.pps_select {
	padding-right: var(--step3);
}

.orders>.item.active>.order-wrapper .settings>.item {
	padding: var(--step);
	border-bottom: var(--border);
}

.orders>.item.active>.order-wrapper .settings>.item:last-child {
	border-bottom: 0;
	padding-bottom: var(--step4);
}

.orders>.item.active>.order-wrapper .settings>.item>.dt {
	color: var(--color-75);
}

.orders>.item.active>.order-wrapper .settings>.item.payment>.dd>label+div {
	font-weight: 300;
}

.orders>.item.active>.order-wrapper .settings>.item.messages>.dd>.items>.item {
	margin-bottom: var(--step2);
}

.orders>.item.active>.order-wrapper .settings>.item.messages>.dd>.items>.item>.item-date {
	font-weight: 300;
}

.orders>.item.active>.order-wrapper .settings>.item.messages>.dd>.items>.item>.item-date>i {
	margin-left: var(--step2);
}