.orders>.item.active>.order .positions>.item {
	padding: 10px 10px;
	border-bottom: 1px solid #e5e5e5;
}

.orders>.item.active>.order .positions>.item:hover {
	background: #fff;
}

.orders>.item.active>.order .positions>.item:first-child {
	color: #e5e5e5;
	background: transparent;
}

.orders>.item.active>.order .positions>.item>.qty>label.pps {
	max-width: 65px;
}

.orders>.item.active>.order .positions>.item>.options>a {
	margin-right: 10px;
}

.orders>.item.active>.order .positions>.item label.pps.pps_input {
	padding-right: 20px;
}

.orders>.item.active>.order .actions>.item {
	padding:10px;
	border-bottom: 1px solid #e5e5e5;
}

.orders>.item.active>.order .actions>.item>.dt {
	color: #e5e5e5;
}

.orders>.item.active>.order .actions>.item.payment>.dd>label+div {
	font-weight: 300;
}

.orders>.item.active>.order .actions>.item.messages>.dd>.items>.item {
	margin-bottom: 20px;
}

.orders>.item.active>.order .actions>.item.messages>.dd>.items>.item>.item-date {
	font-weight: 300;
}

.orders>.item.active>.order .actions>.item.messages>.dd>.items>.item>.item-date>i {
	margin-left: 10px;
}