hr {
	border: 0;
	border-top: 1px solid var(--color-98);
	display: block;
	clear: both;
}

div.paginator div.item {
	width: var(--s6);
	height: var(--s6);
	overflow: hidden;
	border-radius: var(--s2);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

div.paginator div.item span,
div.paginator div.item a {
	text-align: center;
	text-decoration: none;
	color: var(--color-25);
	cursor: pointer;
	width: max-content;
	margin: 0;
	display: flex;
}

div.paginator div.item:hover {
	background-color: var(--color-focus);
}

div.paginator div.item:hover a {
	text-decoration: none;
	color: var(--color-100);
}

div.paginator div.item.active {
	background: var(--color-button);
	border-color: var(--color-button);
}

div.paginator div.item.active a {
	color: var(--color-100);
}