div.ext-childs {
	width: auto;
	overflow: hidden;
}
div.ext-childs a {
	text-decoration: none;
	color: var(--color1);
	background: var(--color3_light3);
	padding: var(--step4);
	display: block
}
div.ext-childs div.img {
	background: #fff;
	
}
div.ext-childs div.title {
	font-size: var(--font_medium);
	font-weight: 500;
	margin-top: var(--step2);
}