div.elements.Example {
	width: auto;
	overflow: hidden;
	margin: 0 -10px;
}

div.elements.Example div.items {
	
}

div.elements.Example div.items div.item {
	
}

div.elements.Example div.items div.item div.img {
	
}

div.elements.Example div.items div.item div.descr-wrapper div.title {
	font-size: 160%;
}

div.elements.Example div.items div.item div.descr-wrapper div.descr {
	
}