div.page.pageIcons {
	background-color: #efefef;
}

div.page.pageIcons .h2 {
	text-align: center;
	color: #272727;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 160%;
	margin-top: 40px;
}

div.elements.Icons {
	
}

div.elements.Icons div.items {
	
}

div.elements.Icons div.items div.item {
	padding: 50px 0;
}

div.elements.Icons div.items div.item div.img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	background-color: #f7941d;
	overflow: hidden;
	margin: 10px auto;
}

div.elements.Icons div.items div.item:hover div.img {
	background-color: #57676b;
}

div.elements.Icons div.items div.item div.title {
	color: #1f2b27;
	text-transform: uppercase;
	font-weight: 700;
}

@media screen and (max-width: 480px) {
	div.elements.Icons div.items div.item {
		padding: 10px 0;
	}
}