.pps_panel {
	width: 100%;
	overflow: hidden;
	margin: 0 0px;
}

.pps_panel>.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	overflow: hidden;
}

.pps_panel>.wrapper>.pps_blocks {
	margin: 0px -10px;
}

.pps_panel>.wrapper>.pps_blocks>.pps_block {
	min-height: 100px;
	text-align: center;
	background: tomato;
}