header {
	background: var(--color-100);
	position: sticky;
	top: -1px;
	z-index: 11;
}

div.page.header {
	background: var(--color-100);
	height: auto;
}

div.page.header a {
	max-width: max-content;
	display: block;
}

section.header-wrapper-top {
	display: grid;
	grid-template-columns: auto 1fr auto auto;
	grid-template-rows: auto;
	gap: var(--s2);
	align-items: center;
}

section.header-wrapper-top form {
	position: relative;
}

section.header-wrapper-top a {
	font-size: var(--font-tiny);
	text-decoration: none;
	text-align: center;
	color: var(--color-primary);
	margin: 0px;
	cursor: pointer;
	position: relative;
}

section.header-wrapper-top a>span {
	display: block;
}

section.header-wrapper-top a .bi {
	font-size: 2em;
}

section.header-wrapper-top a .bi.bi-list {
	font-size: 3em;
}

section.header-wrapper-top a#header-nav {
	display: none;
}

a#header-cart::after,
a#footer-cart::after {
	content: attr(data-metrics);
	font-size: var(--font-small);
	color: var(--color-100);
	background-color: var(--color-button);
	padding: 0 var(--s-half);
	min-width: var(--s3);
	height: var(--s3);
	border-radius: var(--s2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: calc(0 * var(--s));
	top: calc(0 * var(--s));
}

a#footer-cart::after {
	right: calc(-3 * var(--s));
	top: calc(0 * var(--s));
	padding: var(--s2);
}

a#header-cart[data-metrics="0"]::after,
a#footer-cart[data-metrics="0"]::after {
	display: none;
}

div.header-logo {
	padding: var(--s2) 0;
}

div.header-logo img {
	width: 100%;
	max-width: 120px;
	height: auto;
}

section.header-wrapper-top label.w_label {
	margin: 0 auto;
	max-width: 540px;
	display: block;
}

section.header-wrapper-top label.w_label>input[name="text"] {
	height: calc(var(--s) * 6);
}

section.header-wrapper-top .w_suggestions-item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: var(--s2);
	justify-content: center;
	align-items: center;
}

section.header-wrapper-top .w_suggestions-item>div:first-child {
	max-width: 50px;
}

section.header-wrapper-top .w_suggestions-item>div:nth-child(2) {
	font-weight: 600;
}

section.header-wrapper-top .w_suggestions-item>div:last-child {
	text-align: right;
}

section.header-wrapper-top .w_suggestions-item>div img {
	width: 100%;
	height: auto;
}

nav.header-nav-wrapper {
	margin: 0;
	position: relative;
}

ul.header-nav {
	display: flex;
	flex-direction: row;
}

ul.header-nav>li {
	text-align: center;
	white-space: nowrap;
	letter-spacing: 0.8px;
	background-color: transparent;
	position: relative;
}

ul.header-nav>li>a {
	font-weight: 600;
	text-decoration: none;
	color: var(--color-primary);
	padding: var(--s2);
}

ul.header-nav>li>ul {
	background: var(--color-95);
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

ul.header-nav>li>ul>li {
	text-align: left;
	min-width: 240px;
}

ul.header-nav>li>ul>li>a {
	text-decoration: none;
	color: var(--color-primary);
	padding: var(--s2) var(--s4);
}

ul.header-nav>li.hover {
	background: var(--color-95);
}

ul.header-nav>li>ul>li:hover {
	background: var(--color-100);
}

header.is-pinned {
	box-shadow: 0 var(--s) var(--s) rgba(140, 140, 140, 0.1);
}

header.is-pinned section.header-wrapper {
	border-bottom: 0;
}

header.is-pinned section.header-wrapper-top {
	grid-template-columns: auto auto 1fr auto auto;
}

header.is-pinned a#header-nav {
	display: block;
}

header.is-pinned nav.header-nav-wrapper:not(.w_hide_off) {
	display: none;
}

.page.footer-nav {
	background: var(--color-95);
	border-top: var(--border);
	position: fixed;
	bottom: 0;
	display: none;
}

.page.footer-nav>section {
	background: var(--color-100);
	height: calc(var(--s) * 14);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.page.footer-nav>section a {
	font-size: 1.5em;
	color: var(--color-primary);
	position: relative;
}

.w_modal nav.header-nav-wrapper {
	font-size: var(--font-medium);
	margin: 0;
	position: relative;
}

.w_modal ul.header-nav {
	display: flex;
	flex-direction: column;
	margin-left: 0;
}

.w_modal ul.header-nav>li {
	text-align: left;
	margin-bottom: var(--s2);
}

div.w_modal ul.header-nav li.has-childs>a:after {
	content: '\f286';
	font-family: "bootstrap-icons";
	line-height: 1.6;
	color: var(--color-75);
	position: absolute;
	margin-left: var(--s2);
}

div.w_modal ul.header-nav li.has-childs>a.open:after {
	content: '\f282';
}

div.w_modal ul.header-nav li ul {
	padding: 0;
	margin: var(--s) 0 0 0;
	border-radius: var(--s2);
	overflow: hidden;
	max-width: max-content;
	position: relative;
	box-shadow: none;
	outline: 1px solid var(--color-75);
	background: transparent;
}

div.w_modal ul.header-nav ul li {
	padding: var(--s) 0 var(--s) var(--s2);
}

div.w_modal ul.header-nav ul li:before {
	content: '\f285';
	font-family: 'bootstrap-icons';
	line-height: 1.6;
	color: var(--color-75);
	position: absolute;
	left: var(--s);
}

div.w_modal ul.header-nav ul li:hover {
	background: var(--color-98);
}

div.w_modal ul.header-nav li a {
	display: inline-block;
}

div.w_modal .theme-switcher{
	position: absolute;
	right: var(--s2);
	bottom: var(--s2);
}

@media screen and (max-width: 480px) {
	div.page.header {
		height: auto;
		border-bottom: var(--border);
	}

	section.header-wrapper {
		border-bottom: none;
	}

	header {
		top: calc(var(--s) * -12);
	}

	header section.header-wrapper-top,
	header.is-pinned section.header-wrapper-top {
		grid-template-columns: 1fr;
		min-height: calc(var(--s) * 12);
		padding-bottom: var(--s2);
	}

	section.header-wrapper-top label.w_label>input[name="term"] {
		height: calc(var(--s) * 8);
	}

	section.header-wrapper-top a>span {
		display: none;
	}

	header.is-pinned a#header-nav,
	section.header-wrapper-top a#header-nav {
		display: none;
	}

	section.header-wrapper-top a#header-profile {
		display: none;
	}

	section.header-wrapper-top a#header-cart {
		display: none;
	}

	.page.footer-nav {
		display: block;
		box-shadow: 0 -6px 6px rgba(140, 140, 140, 0.1);
	}
}