section.news-wrapper>section {
	border-radius: var(--s2);
	overflow: hidden;
	position: relative;
}

section.news-wrapper>section:hover {
	box-shadow: var(--shadow);
}

section.news-wrapper a {
	text-decoration: none;
	color: var(--color-primary);
	background: var(--color-95);
	height: 100%;
	display: block;
}

div.news-img {
	background: var(--color-100);
}

div.news-img img {
	width: 100%;
	height: auto;
	display: block;
}

div.news-text {
	background-color: var(--color-95);
	padding: var(--s2);
	height: 100%;
}

div.news-text>.title {
	font-weight: 600;
}

div.page.news-item {
	padding-top: var(--s6);
	position: relative;
}

div.page.news-item h1 {
	margin-top: var(--s2);
}

section.news-item-wrapper>div {
	background-color: var(--color-100);
	border-radius: var(--s2);
	position: relative;
	overflow: hidden;
}

div.news-item-img img {
	width: 100%;
	height: auto;
	display: block;
}

div.news-item-date {
	color: var(--color-50);
}