ul.w_tabs li {
	white-space: wrap;
	text-align: center;
	color: var(--color-primary);
	padding: var(--s2) var(--s4);
	margin: 0;
	list-style-type: none;
	cursor: pointer;
}

ul.w_tabs li.active {
	background: var(--color-95);
	border-radius: var(--s2) var(--s2) 0 0;
}

div.w_tabs_content {
	background: var(--color-95);
	padding: var(--s2) var(--s4);
	border-radius: 0 0 var(--s2) var(--s2);
}

div.w_tabs_content div.w_tabs_item {
	display: none;
	padding: 0 10px;
}

div.w_tabs_content div.w_tabs_item.active {
	display: block;
}

@media screen and (max-width: 1020px) {
	
}

@media screen and (max-width: 810px) {}

@media screen and (max-width: 480px) {}