.lists-items .title {
	font-weight: 600;
	margin: var(--step4) 0 0 0;
}

.lists-items .descr {
	font-weight: 300;
	color: var(--color-50);
	padding: var(--step) 0 var(--step) 0px;
}

.lists-items .container {
	border-top: 1px solid var(--color-85);
	padding: var(--step) 0 var(--step) 0px;
}

.lists-items .container:hover {
	background: var(--color-100);
}

.lists-items .container-descr {
	font-weight: 300;
	color: var(--color-50);
}

.controls-area {
	background: transparent;
	margin: 0 2px !important;
	width: auto !important;
}

.controls-area>div {
	padding: 20px !important;
}