.page.panel-accordion {
	background-color: var(--color-95);
	padding-top: var(--step4);
	padding-bottom: var(--step4);
}

.panel-accordion-header {
	position: relative;
	padding: 0 var(--step4);
}

.panel-accordion-header>.title {
	font-size: var(--font-large);
}

.panel-accordion-header>.text {
	font-size: var(--font-medium);
}

.panel-accordion-wrapper>.img {
	padding: var(--step6) var(--step2) 0 var(--step2);
}

.panel-accordion-wrapper>.img>.img {
	max-width: max-content;
	display: block;
	margin: 0 auto;
}

.panel-accordion-wrapper>.img>.img>img {
	max-width: 100%;
	height: auto;
}

.panel-accordion-wrapper>.pps_blocks {
	margin-top: var(--step2);
	border-radius: var(--step2);
	overflow: hidden;
}

.panel-accordion-wrapper>.pps_blocks>.pps_block {
	background: var(--color-85);
	margin-top: var(--stepHalf);
	padding: var(--step4);
	position: relative;
}

.panel-accordion-wrapper>.pps_blocks>.pps_block:first-child {
	margin-top: 0;
}

.panel-accordion-wrapper>.pps_blocks>.pps_block>div.title {
	font-size: var(--font-medium);
	position: relative;
	cursor: pointer;
}

.panel-accordion-wrapper>.pps_blocks>.pps_block>div.title:after {
	content: '';
	background: var(--color-95) url(files/ico-plus.svg) center center no-repeat;
	width: var(--step6);
	height: var(--step6);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 0;
	right: 0px;
}

.panel-accordion-wrapper>.pps_blocks>.pps_block.active>div.title:after {
	background-image: url(files/ico-minus.svg);
}

.panel-accordion-wrapper>.pps_blocks>.pps_block>div.text {
	padding-top: var(--step4);
}

.panel-accordion-wrapper>.pps_blocks>.pps_block>div.text p {
	columns: 2;
}

@media screen and (max-width: 480px) {
	.panel-accordion-wrapper>.pps_blocks>.pps_block>div.text p {
		columns: 1;
	}
}